@charset "utf-8";

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: fixed;
    top: 0;
    background: rgb(255, 255, 255);
    width:100%;
}

/* Sets the video to be behind the body and full screen */
#myVideo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

h1{
    text-align: center;
    color: #000000;
}

h3{
    text-align: center;
    color: #000000;
}


#day1, #day2, #day3, #day4, #day5{
    border: 1px solid gray;
    margin: 3px;
    display: inline-block;
    width: 15%;
    text-align: center;
    background-color: white;
}

#desc{
    text-align: justify;
    margin: 0;
    padding-left: 5%;
}

#logoimg{
    float: right;
    padding: 10px 20px 20px 0;
    width: 20%;
}

footer{
    color: #000000;
    margin-top: 1.6em;
    margin-left: 1.6em;
    text-align: center;
}